@font-face {
  font-family: "Fraunces";
  src: url("../font/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fraunces Italic";
  src: url("../font/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype");
  font-display: swap;
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

:root {
  --font: "Fraunces", serif;
  --font-italic: "Fraunces Italic", serif;
  /* fluid type */
  /* https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-small: clamp(0.8838rem, 0.9562rem + -0.0935vw, 0.9375rem);
  --font-base: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --font-step-1: clamp(1.35rem, 1.2048rem + 0.7261vw, 1.7675rem);
  --font-step-2: clamp(1.62rem, 1.3141rem + 1.5293vw, 2.4994rem);
  --font-step-3: clamp(1.9438rem, 1.3907rem + 2.7652vw, 3.5338rem);
  --font-step-4: clamp(2.3325rem, 1.4058rem + 4.6337vw, 4.9969rem);
  --font-step-5: clamp(2.7994rem, 1.3155rem + 7.4196vw, 7.0656rem);
  /* fixed spacing */
  --space-3xs: 0.3125rem;
  --space-2xs: 0.5625rem;
  --space-xs: 0.875rem;
  --space-s: 1.125rem;
  --space-m: 1.6875rem;
  --space-l: 2.25rem;
  --space-xl: 3.375rem;
  --space-2xl: 4.5rem;
  --space-3xl: 6.75rem;
  /* fluid spacing */
  /* https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.414,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
  /* fluid grid */
  /* https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.414,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */
  --grid-max-width: 85rem;
  --grid-gutter: var(
    --space-s-l,
    clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem)
  );
}

/* fluid grid utils */
.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
  grid-template-columns: repeat(var(--nb-columns, 1), minmax(0, 1fr));
}

/* needs other linkable indicator */
.u-reset-link {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--font);
  font-size: var(--font-base);
  line-height: 1.5;
}

h1 {
  font-size: var(--font-step-5);
  line-height: 1;
}

h2 {
  font-size: var(--font-step-3);
  line-height: 1.2;
}

h3 {
  font-size: var(--font-step-2);
}
