/* todo: organize and have some kind of naming system for goodness sake */
/* todo: progressively enhance to grid */
h1 {
  display: grid;
  grid-template-rows: auto 0 auto;
  grid-template-columns: 1fr;
  width: min-content;
  margin-block: var(--space-xs);
}

h1 span:nth-of-type(1) {
  grid-column: 1 / span 1;
  font-weight: 400;
}

h1 span:nth-of-type(3) {
  grid-column: 1 / span 1;
}

h1 span:nth-of-type(2) {
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
  opacity: 0.25;
  font-weight: 400;
  font-size: 3em;
}

/* over 768px */
@media screen and (width > 48rem) {
  h1 {
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    justify-content: center;
  }

  h1 span:nth-of-type(1) {
    grid-row-start: 1;
  }

  h1 span:nth-of-type(3) {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  h1 span:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 1;
    opacity: 1;
    font-size: 1.5em;
    font-weight: 100;
  }

  main.u-grid {
    --nb-columns: 9;
    align-items: start;
  }
}

/* fun with article layouts */
@supports (display: grid) {
  article {
    display: grid;
    column-gap: var(--space-m);
    row-gap: var(--space-s);
  }

  .title {
    grid-area: title;
  }

  .subtitle {
    grid-area: subtitle;
  }

  article picture {
    grid-area: image;
  }

  .days {
    grid-area: days;
  }

  .kilometres {
    grid-area: kilometres;
  }

  .location {
    grid-area: location;
  }

  .excerpt {
    grid-area: excerpt;
  }

  a:has(article) {
    background-color: whitesmoke;
    padding: var(--space-m);
  }

  /* glenfiddich inspired */
  /* todo: add dotted border between columns */
  /* todo: add thin solid border between day / distance */
  a:nth-of-type(odd):has(article) {
    --grid-col-span: span 5;
    --accent: green;
    grid-column: var(--grid-column, var(--grid-col-span));
    grid-row: span 2;

    article {
      grid-template-columns: minmax(0, 1fr) auto 1fr;
      grid-template-areas:
        "image title title"
        "image excerpt excerpt"
        "image location location"
        "subtitle days kilometres";

      .subtitle {
        align-self: center;
        font-size: var(--font-small);
        text-align: center;
        text-transform: uppercase;
      }

      .location {
        font-family: var(--font-italic);
        font-weight: 300;
        strong {
          font-weight: inherit;
        }
      }

      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }

      .days,
      .kilometres {
        font-size: var(--font-step-1);
        font-weight: 700;
        text-transform: uppercase;

        strong {
          font-size: var(--font-step-2);
          font-weight: inherit;
        }
      }
    }
  }

  /* ardbeg inspired */
  a:nth-of-type(even):has(article) {
    --accent: yellow;
    grid-column: span 3;
    grid-row: span 3;

    article {
      grid-template-columns: auto 2rem auto;
      grid-template-areas:
        "title title title"
        "subtitle subtitle subtitle"
        "days . kilometres"
        "location location location"
        "excerpt excerpt excerpt"
        "image image image";
      row-gap: 0;
      justify-items: center;
      line-height: 1;

      .subtitle,
      .days,
      .kilometres,
      .location,
      .excerpt {
        margin-block-end: var(--space-m);
      }

      .title {
        font-size: var(--font-step-2);
        font-weight: 600;
        font-variation-settings: "SOFT" 100;
        text-transform: uppercase;

        &:first-letter {
          font-size: var(--font-step-3);
          font-weight: 500;
          font-variation-settings: "SOFT" 50;
          letter-spacing: -0.025em;
        }
      }

      .subtitle {
        font-family: var(--font-italic);
        font-weight: 400;
        font-size: var(--font-base);
      }

      /* todo: fill space in-between with trinity icon */
      /* https://thenounproject.com/icon/trinity-5380405/ */
      .days,
      .kilometres {
        display: flex;
        align-items: center; /* todo: end? get the alignment fully matched */
        font-weight: 700;
        strong {
          font-size: var(--font-step-2);
          line-height: 1;
        }
        span {
          writing-mode: vertical-lr;
          font-variant-caps: all-small-caps;
          font-variation-settings: "SOFT" 100;
          font-size: var(--font-small);
        }
      }

      .location {
        text-transform: uppercase;
        font-size: var(--font-small);
        font-variation-settings: "SOFT" 100;
        font-weight: 400;
        strong {
          font-weight: inherit;
        }
      }
    }
  }

  /* glenlivet inspired */
  a:nth-of-type(3n):has(article) {
    --accent: red;
    --grid-col-span: span 3;
    grid-column: var(--grid-column, var(--grid-col-span));
    grid-row: span 2;

    article {
      grid-template-columns: 1;
      grid-template-areas:
        "title"
        "subtitle"
        "days"
        "kilometres"
        "location"
        "excerpt"
        "image";
    }
  }

  /* ben nevis inspired */
  a:nth-of-type(4n):has(article) {
    --accent: blue;
    --grid-col-span: span 3;
    grid-column: var(--grid-column, var(--grid-col-span));
    grid-row: span 3;

    article {
      grid-template-columns: 1;
      grid-template-areas:
        "title"
        "subtitle"
        "days"
        "kilometres"
        "location"
        "excerpt"
        "image";
    }
  }

  /* granular placement */
  a:nth-child(1):has(article) {
    --grid-column: 2 / var(--grid-col-span);
  }

  a:nth-child(7):has(article) {
    --grid-column: 2 / var(--grid-col-span);
  }
}
