/* todo: organize and have some kind of naming system for goodness sake */
h1 {
  display: grid;
  grid-template-rows: auto 0 auto;
  grid-template-columns: 1fr;
  width: min-content;
  margin-block: var(--space-xs);
}

h1 span:nth-of-type(1) {
  grid-column: 1 / span 1;
  font-weight: 400;
}

h1 span:nth-of-type(3) {
  grid-column: 1 / span 1;
}

h1 span:nth-of-type(2) {
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
  opacity: 0.25;
  font-weight: 400;
  font-size: 3em;
}

/* over 768px */
@media screen and (width > 48rem) {
  h1 {
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    justify-content: center;
  }

  h1 span:nth-of-type(1) {
    grid-row-start: 1;
  }

  h1 span:nth-of-type(3) {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  h1 span:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 1;
    opacity: 1;
    font-size: 1.5em;
    font-weight: 100;
  }
}
