<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whisky and wheels</title>
    </head>
    <body>
        <header>
            <h1>Whisky and wheels</h1>
        </header>
        <main>
            {%- for trip in collections.trip -%}
                <article>
                    <h2>
                        <a href="{{ trip.page.url }}">{{ trip.data.title }}</a>
                    </h2>
                    <p>{{ trip.data.days }} Days</p>
                </article>
            {%- endfor -%}
        </main>
        <footer>
            <a href="/whisky">More about whisky</a>
            <a href="/wheels">More about wheels</a>
        </footer>
    </body>
</html>