<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ tags[0] | capitalize}} | {{ title }}</title>
        <link rel="stylesheet" href="../../css/base.css" type="text/css">
    </head>
    <body>
        <header>
            <h1 class="container">{{ title }}</h1>
        </header>
        <main class="container stack">
            {{ content | safe }}
        </main>
    </body>
</html>