{# todo: load leaflet map directly? optimize, make dynamic #}
<div
    id="map" class="map iframe-container animate-slide-shrink">{# <iframe width="400" height="300px" src="../../img/outer_hebrides_skye_days.html"></iframe> #}
</div>