<div class="stats-container">
  <table class="stats">
    <tr>
      <th scope="row">Distance</th>
      <td>{{ kilometres }}km</td>
    </tr>
    <tr>
      <th scope="row">Avg. Speed</th>
      <td>{{ average_speed }}km/h</td>
    </tr>
    <tr>
      <th scope="row">Ascent</th>
      <td>{{ ascent }}m</td>
    </tr>
    <tr>
      <th scope="row">Descent</th>
      <td>{{ descent }}m</td>
    </tr>
    <tr>
      <th scope="row">Total time</th>
      <td>{{ total_duration }}</td>
    </tr>
  </table>
</div>