<nav class="top-nav" data-theme="green">
    <ul class="container">
        <li><a class="top-nav__link" href="/">Home</a></li>
        <li><a data-theme="thistle" class="top-nav__link" href="/trips">Trips</a></li>
    </ul>
</nav>