<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whisky & Wheels</title>
        <link rel="stylesheet" href="/css/global.css" type="text/css">
        <link rel="stylesheet" href="/css/home.css" type="text/css">
    </head>
    <body>
        <header>
            <h1 class="u-container">
                <span>
                    Whisky
                </span>
                <span>
                    &amp;
                </span>
                <span>
                    Wheels
                </span>
            </h1>
        </header>
        <main class="u-container u-grid">
            {%- for trip in collections.trip -%}
                {# why is nunjucks formatting so weird? #}
                <a href="{{ trip.page.url }}">
                    <article>
                        <h2>{{ trip.data.title }}</h2>
                        <h3>{{ trip.data.subtitle }}</h3>
                        {# todo: make picture element with jpeg fallback and sizes #}
                        {% image ["img/", trip.data.image_file, ".jpeg"] | join, trip.data.image_alt, "300px" %}
                        <p>{{ trip.data.days }} Days</p>
                        <p>{{ trip.data.kilometres }} Kilometres</p>
                        <p>From {{ trip.data.start }} to {{ trip.data.end }}</p>
                        <p>{{ trip.page.excerpt }}</p>
                    </article>
                </a>
            {%- endfor -%}
        </main>
        <footer>
            <a href="/whisky">More about whisky</a>
            <a href="/wheels">More about wheels</a>
        </footer>
    </body>
</html>