<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whisky & Wheels</title>
        <link rel="stylesheet" href="/css/global.css" type="text/css">
        <link rel="stylesheet" href="/css/home.css" type="text/css">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
    </head>
    <body>
        <header>
            <h1 class="u-container">
                <span>
                    Whisky
                </span>
                <span>
                    &amp;
                </span>
                <span>
                    Wheels
                </span>
            </h1>
        </header>
        <main class="u-container u-grid">
            {%- for trip in collections.trip -%}
                {% if trip.data.label %}
                    {% set label = trip.data.label %}
                {% else %}
                    {% set label = 'glenfiddich' %}
                {% endif %}
                {# todo: proper sizes values for label images #}
                <a data-label="{{ label }}" class="u-reset-link" href="{{ trip.page.url }}">
                    <article>
                        <h2 class="title">{{ trip.data.title }}</h2>
                        <h3 class="subtitle">
                            <span>{{ trip.data.subtitle }}</span>
                        </h3>
                        {% image ["img/", trip.data.image_file, ".jpeg"] | join, trip.data.image_alt, "300px" %}
                        <p class="days">
                            <strong>{{ trip.data.days }}</strong>
                            <span>days</span>
                        </p>
                        <p class="kilometres">
                            <strong>{{ trip.data.kilometres }}</strong>
                            <span>km</span>
                        </p>
                        <p class="location">From
                            <strong>{{ trip.data.start }}</strong>
                            to
                            <strong>{{ trip.data.end }}</strong>
                        </p>
                        <p class="excerpt">
                            {% if trip.data.label == 'glenlivet' %}
                                {{ trip.page.excerpt | truncate(50) }}
                            {% else %}
                                {{ trip.page.excerpt }}
                            {% endif %}
                        </p>
                    </article>
                </a>
            {%- endfor -%}
        </main>
        <footer>
            <div class="u-container">
                <a href="/whisky">More about whisky</a>
                <a href="/wheels">More about wheels</a>
                <div>
                    <!-- .u-container -->
                </footer>
            </body>
        </html>
    </body>
</html>