<!DOCTYPE html>
<html lang="en" data-theme="green" style="--color-link-shadow: var(--color-accent-light);">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Website</title>
        <link rel="stylesheet" href="../css/base.css" type="text/css">
    </head>
    <body>
        <header>
            <h1 class="container">Website</h1>
        </header>
        <main class="container stack">
            <p>This site is built with
                <a href="https://www.11ty.dev/" rel="external nofollow noopener">11ty</a>, using
                <a href="https://www.11ty.dev/docs/plugins/image/" rel="external nofollow noopener">eleventy-img</a>,
                <a href="https://www.11ty.dev/docs/languages/markdown//" rel="external nofollow noopener">Markdown</a>, and
                <a href="https://mozilla.github.io/nunjucks/templating.html" rel="external nofollow noopener">Nunjucks.</a>
            </p>
            <p>The variable font is
                <a href="https://fonts.google.com/specimen/Fraunces/tester" rel="external nofollow noopener">Fraunces</a>, sourced from Google Fonts and served locally.</p>
            <p>The maps are created with
                <a href="https://leafletjs.com/" rel="external nofollow noopener">Leaflet</a>.</p>
            <p>The favicon was designed by Maureen and generated in appropriate formats with
                <a href="https://favicon.io/" rel="external nofollow noopener">favicon.io</a>
            </p>
        </main>
    </body>
</html>