<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wheels</title>
    </head>
    <body>
        <header>
            <h1>Wheels</h1>
        </header>
        <main>
            {%- for info in collections.wheels -%}
                <article>
                    <h2>
                        <a href="{{ info.page.url }}">{{ info.data.title }}</a>
                    </h2>
                </article>
            {%- endfor -%}
        </main>
    </body>
</html>