---json
{
  "permalink": "feeds/trips.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Whisky & Wheels",
    "subtitle": "Adventures in bike touring and whisky tasting.",
    "language": "en",
    "url": "https://whiskyandwheels.com/feeds/trips.xml"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections['trip'] | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  {%- for post in collections['trip'] | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <summary>{{ post.data.subtitle }}</summary>
  </entry>
  {%- endfor %}
</feed>