<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whisky</title>
        <link rel="stylesheet" href="../css/base.css" type="text/css">
    </head>
    <body>
        <header>
            <h1 class="container">Whisky</h1>
        </header>
        <main class="container stack">
            {%- for info in collections.whisky -%}
                <article class="stack">
                    <h2>
                        <a href="{{ info.page.url }}">{{ info.data.title }}</a>
                    </h2>
                </article>
            {%- endfor -%}
        </main>
    </body>
</html>