<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheels</title>
    <link rel="stylesheet" href="../css/base.css" type="text/css">
  </head>
  <body>
    <header>
      <h1 class="u-layout-container">Wheels</h1>
    </header>
    <main class="u-layout-container u-layout-stack">
      {%- for info in collections.wheels -%}
        <article class="u-layout-stack">
          <h2>
            <a href="{{ info.page.url }}">{{ info.data.title }}</a>
          </h2>
          <p>loreakjhglajdfh gladh alksjfh galjkdfh glakjdhf lga hdfljgha dlfjh glaj dhfljgahdfljagldjfhgakjdf</p>
        </article>
      {%- endfor -%}
    </main>
  </body>
</html>